@import "./variables.scss";

input::placeholder,
textarea::placeholder {
  color: var(--ui-darken) !important;
}

/* 定义颜色变量，优先使用变量中的颜色，变量颜色无法满足的情况下才考虑使用直接的颜色 */
.body--dark {
  --q-primary: #10253fb2; /* 主色调 */
  --q-secondary: #10253fff; /* 次色调 */

  --q-accent: #00e0ffff; /* 强调，用于active状态前景色 */
  --q-positive: #1f334aff; /* 突出，用于active状态背景色 */

  --ui-darken: #ffffff73; /* 输入组件提示文字 */
  --q-negative: #ffffff0d; /* 输入组件背景 */

  --q-info: #068295ff; /* 提示 */
  --q-warning: #f2c037ff; /* 警告 */
  --ui-error: #c10015ff; /* 错误 */
  --ui-disabled: #040b22ff; /* 禁用 */

  /* 仅支持quasar内部使用，代码中不要使用，有其他替代，如primary替代dark，disabled替代dark-page */
  --q-dark: #10253fb2; /* dark mode下其他组件底色 */
  --q-dark-page: #040b22ff; /* dark mode下body底色 */
}
.bg-darken {
  background-color: var(--ui-darken) !important;
}
.text-darken {
  color: var(--ui-darken) !important;
}
.bg-error {
  background-color: var(--ui-error) !important;
}
.text-error {
  color: var(--ui-error) !important;
}
.bg-disabled {
  background-color: var(--ui-disabled) !important;
}
.text-disabled {
  color: var(--ui-disabled) !important;
}
.ui-select-popup {
  background-color: var(--q-secondary) !important;
}
